// Toggles
$move-in-messages: false;       // Moves in both messages and channels
$style-own-messages: false;     // Gives your name a rainbow effect in chat
$collapse-member-list: false;   // Collapses the member list showing only avatar, unless you hover over it
$custom-emoji: false;           // Replaces some of the default emoji
$server-list-above: false;      // Puts the server list on the top instead of to the side

$style-own-messages-user-id: 113009395494830080;
