// Half-hide member list, showing only avatars
@if ($collapse-member-list) {
    div[class*="membersWrap-"] {
        min-width: 45px;
        width: 45px;
        transition: min-width $collapse-member-list-time-close, width $collapse-member-list-time-close;

        div[class*="membersGroup-"] {
            // Letting the margin stay because it's a nice divisor.
            height: if($status-indicator-border-nomove, 20px, 10px);
            transition: height $collapse-member-list-time-close;

            @if ($status-indicator-border-nomove) {
                transition: height $collapse-member-list-time-close, padding-top $collapse-member-list-time-close;
            }
        }

        div[class*="member-"] {
           margin-left: 0;
           transition: margin-left $collapse-member-list-time-close;
        }

        &:hover {
            min-width: 240px;
            width: 240px;
            transition: min-width $collapse-member-list-time-open, width $collapse-member-list-time-open;
            transition-delay: $collapse-member-list-delay;

            div[class*="membersGroup-"] {
                transition: height $collapse-member-list-time-open;
                transition-delay: $collapse-member-list-delay;
                height: if($status-indicator-border-nomove, 20px, 40px);

                @if ($status-indicator-border-nomove) {
                    transition: height $collapse-member-list-time-open, padding-top $collapse-member-list-time-open;
                    padding-top: 0px;
                }
            }

            div[class*="member-"] {
               margin-left: 8px;
               transition: margin-left $collapse-member-list-time-open;
               transition-delay: $collapse-member-list-delay;
            }
        }
    }
}

// Have the server list appear at the top of the page
@if ($server-list-above) {
    // .guildsWrapper parent
    div[class*="layer-"]>div:not([class*="standardSidebarView-"]) {
        // All direct children (including .guilds-wrapper)
        flex-direction: column;
    }

    div[class*="wrapper-1Rf91z"] {  // .guildsWrapper-XXXXXX
        width: 100%;
        height: 75px;
        @if ($server-list-above-below) {
            order: 999;
        }

        &>div[class*="scrollerWrap-"] {
            width: 100%;
        }

        @if ($server-list-above-different-indicators) {
            div[class*="unreadMentionsIndicator"] { // matches both bottom and top, though only bottom is used
                left: inherit;
                bottom: inherit;
    
                div[class*="bar-"] {
                    width: 35px;
                    height: 25px;
                }
                
                svg {
                    display: none;
                }
            }
        }

        div[class*="unreadMentionsIndicatorTop-"]+div>div { // .guilds-XXXXXX
            padding: 5px 10px;
            display: flex;
            align-items: flex-start;

            // fix for friendsOnline- being absolute
            position: relative;
            overflow-y: hidden;

            // give the 2 fake guilds proper padding too
            div[class*="createJoinContainer-"], div[class*="createJoinContainer-"]+div {
                margin-top: 0;
                margin-left: 8px;
            }

            div[class*="friendsOnline-"] {
                position: absolute;
                top: 50px;
            }

            // padding for the first DM guild
            div[class*="friendsOnline-"]+div[class*="container"] {
                margin-left: 10px;
            }

            span[class*="dms-"] {
                display: inline-flex;
                margin: 0;
                div[class*="guild-"]:first-child {
                    margin-left: 10px;
                }
            }

            &>div[class*="container-"] {    // .guild-XXXXXX
                margin-top: 0!important;

                &+div[class*="container-"] {
                    margin-left: 10px;
                }

                &[class*="selected-"]:before, &[class*="unread-"]:before {
                    left: 40%;
                    top: 120%;
                    transform: rotate(90deg);
                }

                // Do not display the selected channel indicator for the discord logo (DMs, friends)
                &:first-child:before {
                    display: none;
                }
            }

            div[class*="guildSeparator-"] {
                width: 2px;
                height: 30px;
                margin-top: 10px;
                margin-left: 7.5px;
                margin-right: 7.5px;
                background-color: #2f3136;
            }
        }

        &:hover div[class*="scroller-"] {
            overflow-x: auto;
        }

        // scroll bar
        div[class*="scrollerWrap"] ::-webkit-scrollbar {
            height: 11px;
        }
    }
}

// Change status indicator
@mixin status-color($status, $color) {
    div[class*="#{$status}-"] { border-color: rgba($color, $status-indicator-border-transparancy)!important; }
}
@if ($status-indicator-border) {
    //
    div[class*="members-"] div[class*="wrapper-"][class*="small-"] {
        div[class*="mask-"] {
            -webkit-mask: none!important;
            mask: none!important;
        }

        div[class*="status-"] {
            top: -$status-indicator-border-thickness;
            left: -$status-indicator-border-thickness;
            height: 100%!important;
            width: 100%;
            background-color: transparent;
            border-width: $status-indicator-border-thickness;
        }

        @include status-color('online', $status-indicator-border-color-online);
        @include status-color('idle', $status-indicator-border-color-idle);
        @include status-color('dnd', $status-indicator-border-color-dnd);
        @include status-color('streaming', $status-indicator-border-color-streaming);
    }

    // Move the member name left if the user has a very high border thickness
    @if ($status-indicator-border-thickness > 5) {
        div[class*="memberInner-"] {
            margin-left: $status-indicator-border-thickness - 5px;
        }
    }
}

// Move channel names closer to # symbol
@if ($channel-hash-margin) {
    div[class*="channels-"] div[class*="scrollerWrap-"] svg[class*="icon-"] {
        margin-right: 0;
    }
}

// Custom fonts
@mixin custom-font-conditional($prop, $val) {
    @if ($val != null) {
        @if ($prop == font-size)    { font-size: $val; }
        @if ($prop == font-family)  { font-family: $val; }
    }
}
@if ($custom-font) {
    code {
        @include custom-font-conditional(font-size, $custom-font-size-code);
        @include custom-font-conditional(font-family, $custom-font-code);
    }

    @if ($custom-font-ui != null) {
        ::-webkit-input-placeholder, body, button, input, select, textarea {
            @include custom-font-conditional(font-family, $custom-font-ui);
        }
    }

    @if ($custom-font-chat != null) {
        div[class*="chat-"] {
            @include custom-font-conditional(font-family, $custom-font-chat);
        }
    }
}

// Code block images
@mixin language-image($lang, $code) {
    .hljs.#{unquote($lang)} {
        background-image: url('https://devstickers.com/assets/img/pro/#{unquote($code)}.png')!important;
     }
}
@if ($code-block-images) {
    .hljs {
        background-size: 28px!important;
        background-repeat: no-repeat!important;
        background-position: top right!important;
    }
    @include language-image('cs',  '2p4i');
    @include language-image('cpp', '35k9');
    @include language-image('js',  'i4eg');
    @include language-image('html','ny2e');
    @include language-image('css', '267e');
    @include language-image('php', '1nt5');
    @include language-image('rb',  'uwgt');
    @include language-image('ruby','uwgt');
    @include language-image('py',  'p3jo');
    @include language-image('swift','ji5v');
    @include language-image('go',  'hyc7');
    @include language-image('dart','rvwm');
    @include language-image('hs',  'iz0n');
    @include language-image('ls',  'j4vm');
    @include language-image('rs',  'fzk3');
    // @include language-image('cl',  'k7yf');
}

// Hide download button on web client
@if ($web-hide-download-button) {
    .btn-download-apps {
        display: none!important;
    }
}

// Change the look of the user popup
@if ($alternative-user-popup) {
    // General popout, borders
    div[class*="userPopout-"] {
        box-shadow: none;

        // Make sure shadow on children is visible
        padding: 5px;
        margin: -5px;

        // Give children shadow
        &>div {
            box-shadow: 0 0 10px 0px rgba(#000,.5);
            border-radius: 5px;
        }

        // Space between elements
        div[class*="body-"] {
            margin: 5px 0;
        }
    }

    // Head part
    div[class*="headerTop"] {
        // Have slightly less padding
        padding: 10px;

        // Avatar size
        div[class*="popout-"]:first-child {
            width: 128px;
            height: 128px;
        }

        // Make the status indicator not round
        div[class*="avatarStatus-"] {
            border-radius: 0;
        }
        
        // Avatar border radius
        div[class*="popout-"] > div[class*="image-"], div[class*="avatarHint-"] {
            border-radius: 10px!important;
        }

        // Remove mask on avatar
        div[class*="maskProfile-"] {
            -webkit-mask: none;
            mask: none;
        }

        // Box around username
        div[class*="headerText-"] {
            background: #484848;
            padding: 3px 5px;
            border-radius: 5px;
        }
    }

    // Body part
    $role-height: 18px;
    $font-size: 12px;   // $role-height / 2
    li[class*="role-"] {
        // Make border into background
        padding: 0;
        height: $role-height;
        border-width: $role-height/2;
        border-radius: $role-height/2;
        font-size: $font-size;

        // Make the circle snugly fit into the corner
        *[class*="roleCircle-"] {
            border-radius: 50% 0 0 50%;
            height: $role-height;
            width: $role-height*0.85;
            margin-left: -$role-height/2;
            
            // Try to text-align somewhat
            margin-right: 7px;
        }

        // Make the add button look better
        &[class*="addButton-"] {
            //padding: 6px;
            border-width: 0;
        }
    }

    // Footer part
    div[class*="footer-"] {
        padding: 0 10px;
        border-top: none;

        // quickMessage
        input {
            margin: 10px 0;
        }

        div[class*="protip-"], div[class*="wumpusWrapper-"] {
            display: none;
        }
    }
}

// Tweaks compact mode chat
@if ($compact-mode-tweaks) {
    $compact-mode-text-offset: 8.5ch!default;    // You shouldn't change this, but you could
    div[class*="containerCompact"] {
        padding: 0!important;
        
        hr {
            display: none;
        }

        div[class*="content-"]+div[class*="containerCompact-"] {
            padding-left: $compact-mode-text-offset!important;
        }

        div[class*="message-"] {
            margin: 0!important;

            @if ($compact-mode-no-extra-usernames) {
                &:not(:first-child) {
                    span[class*="username-"] {
                        display: none;
                    }
                }
            }
        }

        &>div[class*="markup-"] {
            margin-top: 0!important;
            text-indent: -$compact-mode-text-offset;
        }

        h2[class*="headerCompact-"] {
            margin-right: 0!important;

            span[class*="username-"] {
                margin-right: 0.3rem;
                &:after {
                    content: ':';
                }
            }
        }
    }

    // For some reason this is screwed
    .divider {
        margin: 10px 0;
    }
}

// Show loading
@if ($show-loading) {
    div[class*="app-"] + div[style="opacity: 1;"] {
        //opacity: 0.25!important;
        display: none;
    }
}

@if ($hide-unread-mentions-bar) {
    div[class*="unreadMentionsBar-"] {
        display: none;
    }
}