// Toggles
$collapse-member-list: false;   // Collapses the member list showing only avatar, unless you hover over it
$server-list-above: false;      // Puts the server list on the top instead of to the side
$status-indicator-border: false;// Makes the status indicator a circle around the avatar
$channel-hash-margin: false;    // Moves the channel names a little bit closer to the # symbol
$custom-font: false;            // Enables custom font stacks and sizes
$code-block-images: false;      // Adds the programming languages logo to code blocks
$web-hide-download-button: false;// Hides the download button in the web client
$alternative-user-popup: false; // Changes the look and feel of the user popup 
$compact-mode-tweaks: false;    // Makes compact mode more compact, among other things


// Settings
$collapse-member-list-delay: 0.1s;
$collapse-member-list-time-open: 0.4s;
$collapse-member-list-time-close: 0.6s;
$server-list-above-below: false;
$status-indicator-border-transparancy: 100%;
$status-indicator-border-thickness: 3px;
$status-indicator-border-color-online: #43b581;
$status-indicator-border-color-idle: #faa61a;
$status-indicator-border-color-dnd: #f04747;
$status-indicator-border-color-streaming: #593695;
$status-indicator-border-nomove: true;                  // Makes it so the expanding member list doesn't move in the Y axis
$custom-font-size-chat: null;
$custom-font-size-code: null;   // Code
$custom-font-ui: null;          // Everything UI
$custom-font-code: null;        // Code
$compact-mode-no-extra-usernames: true;
$compact-mode-pm-username-color: null;
