// This file compiles to my personal theme, with my settings and preferences.

// Import fonts
// Some other nice fonts are Quicksand, Comfortaa, Play, Valera Round
@import url('https://fonts.googleapis.com/css?family=Quicksand|Comfortaa');
@font-face {
    font-family: 'Monoid Regular';
    src: url('https://larsenwork.com/monoid/css/Monoid-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


// Import the default values of all variables
@import "sakura/_variables.scss";
@import "tweaks/_variables.scss";
@import "experiments/_variables.scss";


// Overwrite any variables you like
$main-color: #e44;
$background: url('https://cdn01.gitter.im/_s/62eb41f/images/home/banner.jpg');
$dim-background: 50%;
$glow-unread-server: false;

$server-list-above: false;   // borked
$collapse-member-list: true;
$status-indicator-border: true;
$channel-hash-margin: true;
$code-block-images: true;
$web-hide-download-button: true;
$alternative-user-popup: true;
$compact-mode-tweaks: true;
$show-loading: true;

$server-list-above-different-indicators: true;

$status-indicator-border-thickness: 15px;
$status-indicator-border-transparancy: 25%;

$custom-font: true;
$custom-font-ui: 'Comfortaa', sans-serif;
$custom-font-code: 'Monoid Regular', monospace;
$custom-font-chat: 'Quicksand', sans-serif;
$custom-font-size-code: 12px!important;


// Import the second round of variables, which are derived from the first set (eg. color variations)
@import "sakura/_variables2.scss";


// Import the main code
@import "sakura/_main_code.scss";
@import "tweaks/_main_code.scss";
@import "experiments/_main_code.scss";
