// This file compiles to my personal theme, with my settings and preferences.

// Import fonts
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@font-face {
    font-family: 'Monoid Regular';
    src: url('https://larsenwork.com/monoid/css/Monoid-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


// Import the default values of all variables
@import "sakura/_variables.scss";
@import "tweaks/_variables.scss";


// Overwrite any variables you like
$main-color: darken(lightblue, 25%);
$background: url('https://newevolutiondesigns.com/images/freebies/cool-wallpaper-19.jpg');

$server-list-above: true;
$collapse-member-list: true;
$status-indicator-border: true;
$status-indicator-border-transparancy: 25%;
$status-indicator-border-thickness: 15px;
$channel-hash-margin: true;

$custom-font: true;
$custom-font-ui: Quicksand, sans-serif;
$custom-font-code: 'Monoid Regular', monospace;
$custom-font-size-code: 12px!important;


// Import the second round of variables, which are derived from the first set (eg. color variations)
@import "sakura/_variables2.scss";


// Import the main code
@import "sakura/_main_code.scss";
@import "tweaks/_main_code.scss";
