// Imports
@import "transparency";

// Wallpaper layer
.app>div[class*="layers-"] {
	background: $background no-repeat center center fixed!important;
	background-size: cover!important;
}

// Server list
@if $glow-unread-server {
	.guilds-wrapper .guilds .guild.unread:not(.selected) {
		@keyframes glow-guild-unread {
			from { box-shadow: 0 0 10px 0 $main-color; }
			to { box-shadow: 0 0 10px 3px $main-color; }
		}

		&:before { display: none; }
		.guild-inner { animation: glow-guild-unread ease-in-out 1.5s infinite alternate; }
	}
}

// Channel list
div[class*="channels-"] {
	div[class*="scrollerWrap-"] {
		// #'s
		svg {
			color: $main-color!important;
			opacity: 1;
		}

		// Unread notif
		div[class*="unread-"] {
			background: $main-color;
			border-radius: 5px 0 0 5px;
			height: 100%;
			left: 4px;
			top: 0;
			margin: 0;
		}
	}

	// All channels
	div[class*="content-"] {
		margin: 0 0 0 8px;
		height: 34px;
		border-radius: 0;
	}

	// Default channels
	div[class*="contentDefaultText-"], div[class*="contentUnreadText-"], div[class*="contentMutedText-"], div[class*="contentDefaultVoice-"] {
		background-color: transparent;
		border-left: 0 solid transparent;
		transition: background-color    $time-unhover*0.4 ease-out,
		            border-left-width   $time-unhover ease-in,
		            border-color        $time-unhover*0.8 ease-in;
	}

	// Hovered channels
	div[class*="contentHoveredText-"], div[class*="contentHoveredVoice-"]:active, div[class*="contentSelectedVoice-"]:active { 
		background-color: $color-channel-hover;
		border-left: 5px solid $color-channel-border;
		transition: background-color    $time-hover*0.4,
		            border-left-width   $time-hover*0.8;
	}
	
	// Selected channels
	div[class*="contentSelectedText-"] { 
		background-color: $color-channel-select;
		border-left: 5px solid $color-channel-border;
		transition: background-color 0.3s cubic-bezier(0,.75,1,2);
	}

	// Channel names
	div[class*="nameDefaultText-"], div[class*="nameDefaultVoice-"], div[class*="nameLockedText-"], div[class*="nameLockedVoice-"] {
		color: #888; // Brighten a bit
	}
}

// Code blocks
div[class*="messages-"] div[class*="markup-"] {
	code.inline, pre {
		border: 1px solid $main-color!important;
		background-color: rgba(#222, 50%)!important;
	}
	pre code {
		background-color: transparent!important;
	}
}

// Chat box
div[class*="channelTextArea-"] div[class*="inner-"] {
	border: 1px solid rgba(desaturate($main-color, 90%), 50%);

	background-color: rgba(#222, .1);
	transition: background-color $time-hover*2, 
				border-color $time-hover*2, 
	            box-shadow $time-hover*2;
	box-shadow: $main-color 0 0 0;

	&:hover{
		border: 1px solid rgba(desaturate($main-color, 25%), 75%);
		background-color: rgba(#888, .2);
		box-shadow: rgba($main-color, 50%) 0 0 5px;
		transition: background-color $time-unhover, 
					border-color $time-unhover, 
		            box-shadow $time-unhover;
	}

	// Textarea
	textarea::-webkit-input-placeholder {
		color: transparent;
	}
}

// Member list
div[class*="member-"] {
	// Normal
	div[class*="content-"] {
		background: transparent;
		transition: background-color $time-unhover;
	}

	// Hovered
	&:hover div[class*="content-"] {
		background: $color-user-hover!important;
		transition: background-color $time-hover!important;
	}

	// Selected
	&.popout-open div[class*="content-"], &.popout-open:hover div[class*="content-"] {
		background: $color-user-select!important;
		transition: background-color $time-hover!important;
	}
}

// Private channels (PM's)
div[class*="privateChannels-"] {
	div[class*="channel-"] {
		// Normal
		a {
			background: transparent;
			transition: background-color $time-unhover;
		}

		// Hover
		&:hover a {
			background: $color-user-hover;
			transition: background-color $time-hover;
		}

		// Selected
		&[class*="selected-"] a {
			background: $color-user-select;
			transition: background-color $time-hover;
		}
	}
}

// Friend list
#friends .friends-table .friends-row {
	background: transparent;
	transition: background-color $time-unhover;

	// Use the same margin/padding as hover (not sure why it is different)
	margin: 0 20px;
    padding: 16px 10px;

	&:hover {
		background: $color-user-hover!important;
		transition: background-color $time-hover!important;
	}
}

// Giving chat dividers dark transparancy instead of gray transparancy
div[class*="messagesWrapper-"] div[class*="messages-"] div[class*="divider-"]:before, 
div[class*="messagesWrapper-"] div[class*="messages-"] div[class*="divider-"] span {
	background-color: rgba(0, 0, 0, 10%)!important;
}

// Scroll bars
.friends-table div[class*="scrollerWrap-"] ::-webkit-scrollbar-thumb, 
div[class*="messagesWrapper-"] .scroller-wrap ::-webkit-scrollbar-thumb {
	background-color: $color-scrollbar-inner!important;
	border: 1px solid $color-scrollbar-outer!important;
	border-radius: 999px;
}
.friends-table div[class*="scrollerWrap-"] ::-webkit-scrollbar-track-piece, 
div[class*="messagesWrapper-"] .scroller-wrap ::-webkit-scrollbar-track-piece {
	background-color: transparent!important;
	border: 0;
	margin: 3px;
}
.scroller-wrap .scroller::-webkit-scrollbar {
	width: 10px!important;
}

// Context menu
// TODO: put colors in variables
@if ($custom-context-menu) {
    div[class*="contextMenu-"] {
        background: #171717!important;
        border: 1px solid #767676;
        border-radius: 0;

        div[class*="itemGroup-"] {
            padding: 5px 0;
        }

        div[class*="itemSubMenu-"] {
            background-color: transparent;
        }

        div[class*="item-"] {
            border-radius: 0;
            margin: 0;
            &:hover {
                background-color: #2e2e2e;
            }
        }
    }
}
