// Imports
@import "colors";

// Wallpaper layer
div[class*="app-"] {
	background: linear-gradient( rgba(0, 0, 0, $dim-background), rgba(0, 0, 0, $dim-background) ), $background!important;
	background-size: $background-size!important;
}

// Channel list
div[aria-label="Channels"] {
	div[role="listitem"][id*="channels-"] {
		// #'s
		svg {
			color: $main-color!important;
			opacity: 1;
		}

		// Unread notif
		div[class*="unread-"] {
			background: $main-color;
			border-radius: 5px 0 0 5px;
			height: 100%;
			left: 4px;
			top: 1px;
			margin: 0;
		}

		// Default channels
		&>div {
			border-left: 0 solid transparent;
			transition: background-color    $time-unhover*0.4 ease-out,
						border-left-width   $time-unhover ease-in,
						border-color        $time-unhover*0.8 ease-in;
		}

		// Hovered channels
		&:hover>div {
			background-color: $color-channel-hover;
			border-left: 5px solid $color-channel-border;
			transition: background-color    $time-hover*0.4,
						border-left-width   $time-hover*0.8;
		}

		// Selected channels
		&[class*="modeSelected-"]>div {
			background-color: $color-channel-select!important;
			border-left: 5px solid $color-channel-border;
			transition: background-color 0.3s cubic-bezier(0,.75,1,2);
		}
	}

	// All channels, TODO: remove?
	div[class*="content-"] {
		margin: 0 0 0 8px;
		height: 34px;
		border-radius: 0;
	}
}

// Code blocks
div[class*="messages-"] div[class*="markup-"] {
	code.inline, pre {
		border: 1px solid $main-color!important;
		background-color: rgba(#222, 0.50)!important;
	}
	pre code {
		background-color: transparent!important;
	}
}

// Chat box
div[class*="channelTextArea-"] div[class*="scrollableContainer-"] {
	border: 1px solid rgba(desaturate($main-color, 0.90), 0.50);

	background-color: rgba(#222, .1);
	transition: background-color $time-hover*2, 
				border-color $time-hover*2, 
	            box-shadow $time-hover*2;
	box-shadow: $main-color 0 0 0;

	&:hover{
		border: 1px solid rgba(desaturate($main-color, 0.25), 0.75);
		background-color: rgba(#888, .2);
		box-shadow: rgba($main-color, 0.50) 0 0 5px;
		transition: background-color $time-unhover, 
					border-color $time-unhover, 
		            box-shadow $time-unhover;
	}

	// Textarea
	textarea::-webkit-input-placeholder {
		color: transparent;
	}
}

// Member list
div[class*="member-"] {
	// Normal
	background: transparent;
	transition: background-color $time-unhover;

	// Hovered
	&:hover {
		background: $color-user-hover!important;
		transition: background-color $time-hover!important;
	}

	// Selected
	&[class*="selected-"] {
		background: $color-user-select!important;
		transition: background-color $time-hover!important;
	}
}

// Private channels (PM's)
#private-channels {
	// Normal
	a {
		background: transparent;
		transition: background-color $time-unhover;
	}

	// Hover
	a:hover {
		background: $color-user-hover;
		transition: background-color $time-hover;
	}

	// Selected
	a[class*="selected-"] {
		background: $color-user-select;
		transition: background-color $time-hover;
	}
}

// Scroll bars
div[class*="scrollerWrap-"] {
	::-webkit-scrollbar-thumb {
		background-color: $color-scrollbar-inner!important;
		border: 1px solid $color-scrollbar-outer!important;
		border-radius: 999px;
	}

	::-webkit-scrollbar-track-piece {
		background-color: transparent!important;
		border: 0!important;
		margin: 3px;
	}

	div[class*="scroller-"]::-webkit-scrollbar {
		width: 10px!important;
	}
}

// Context menu
// TODO: put colors in variables
@if ($custom-context-menu) {
    div[class*="contextMenu-"] {
        background: #171717!important;
        border: 1px solid #767676;
        border-radius: 0;

        div[class*="itemGroup-"] {
            padding: 5px 0;
        }

        div[class*="itemSubMenu-"] {
            background-color: transparent;
        }

        div[class*="item-"] {
            border-radius: 0;
            margin: 0;
            &:hover {
                background-color: #2e2e2e;
            }
        }
    }
}
