// Full transparency
div[class*="layer-"]>div[class*="container-"],// One of the top layers
div[class*="members-"],                         // member list
.theme-dark .messages-wrapper, .theme-dark .chat form, .theme-dark .chat>.content, // messages	
.guilds-wrapper .guilds .guild .guild-inner,	// server list	
div[class*="channels-"] > div,                  // bg for ch. list
.theme-dark div[class*="title"],                // top channel title
.theme-dark div[class*="headerBar-"],           // friends header
.theme-dark .friends-table, .theme-dark .messages-wrapper, // friends list
.guilds-wrapper .guilds-add,					// Add guild item
.theme-dark div[class*="typing"],               // x is typing
.guilds-wrapper, div[class*="channels-"],		// Channel
.theme-dark .chat, 								// Chat
.theme-dark #friends,							// Friend list
.theme-dark .channel-members,					// Channel members
div[class*="activityFeed-"],
div[class*="activityFeed-"] div[class*="card-"],
{
	background: transparent!important;
}

// Semi-transparancy
div[class*="layers-"]>div[class*="layer-"]
{
	background: rgba(black, $dim-background)!important;
	background-color: rgba(black, $dim-background)!important;
}


div[class*="activityFeed-"] div[class*="card-"]>div[class*="header-"] {
	background: rgba(black, 25%)!important;
}
