// Make messages move in
@if ($move-in-messages) {
    @keyframes message-animation {
        from {margin-left: -20px; margin-right: 60px; opacity: 0;}
        to {margin-left: 20px; margin-right: 20px; opacity: 1;}
    }
    @keyframes channel-animation {
        from {margin-left: -40px; margin-right: 20px; opacity: 0;}
        to {margin-left: 0; margin-right: 0; opacity: 1;}
    }
    .message-group {
        animation: message-animation 0.5s;
    }

    div[class*="containerDefault-"] {
        animation: channel-animation 0.5s;
    }
}

// Do some stuff with your own messages
@if ($style-own-messages) {
    @keyframes colorRotate {
        from    { text-shadow: 0 0 5px hsl(0, 100%, 50%);   } 
        16.6%   { text-shadow: 0 0 5px hsl(300, 100%, 50%); } 
        33.3%   { text-shadow: 0 0 5px hsl(240, 100%, 50%);   } 
        50%     { text-shadow: 0 0 5px hsl(180, 100%, 50%); } 
        66.6%   { text-shadow: 0 0 5px hsl(120, 100%, 50%);   } 
        83.3%   { text-shadow: 0 0 5px hsl(60, 100%, 50%); } 
        to      { text-shadow: 0 0 5px hsl(0, 100%, 50%);   }
    }
    .message-group div[style*='#{$style-own-messages-user-id}']+.comment {
        .user-name {
            animation: colorRotate 3s linear 0s infinite;
        }
    }
}

// Have custom emoji. Not much else to say.
@if ($custom-emoji) {
    .emoji[alt=":thinking:"] {
        content: url(http://i0.kym-cdn.com/photos/images/original/001/302/286/432.png);
    }
}

@if ($weird-animated-border) {
    // remove old border
    div[class*=channelTextArea-] div[class*=inner-] {
        border: 0!important;
    }
    .chat .channelTextArea-1LDbYG {
        $border-dash-len: 10px;
        $border-space-len: 10px;
        $border-width: 6px;
        //$border-color: #dabeef;
        $border-color: url(#bdg);
        $border-speed: 0.4s;
        $gradient-text: 
            '<linearGradient id="bdg" gradientTransform="rotate(45)">' +
                '<stop stop-color="#{gold}"></stop>' +
                '<stop stop-color="#{#0ac}" offset="1"></stop>' +
            '</linearGradient>';
        $data: 
            '<style>@keyframes bdm {to {stroke-dashoffset: #{-$border-dash-len-$border-space-len};}}</style>' +
            $gradient-text +
            '<rect width="100%" height="100%" style="stroke: #{$border-color}; stroke-width: #{$border-width}; fill: none; stroke-dasharray: ' +
                '#{$border-dash-len} #{$border-space-len}; animation: bdm #{$border-speed} infinite linear;" />';

        background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg">#{$data}</svg>')!important;
    }
}
